@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

#gi-overlay .loader {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

#gi-overlay .loader:after {
    content: "";
    width: 10em;
    height: 10em;
    position: absolute;
    top: -6px;
    left: -6px;
    border-radius: 50%;
    border: 6px solid rgba(0, 0, 0, 0.19);
}

#gi-overlay .loader {
    margin: 45px auto;
    font-size: 6px;
    position: relative;
    text-indent: -9999em;
    border-top: 6px dotted transparent;
    border-right: 6px dotted transparent;
    border-bottom: 6px dotted transparent;
    border-left: 6px dotted #000000;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}